{if !empty($messages)}
    {foreach $messages as $message}
        <div class="block double-padded i-message-{$message.result}">
            {if $message.result == 'success'}<i class="icon16 yes"></i>
            {elseif $message.result == 'fail'}
            <i class="icon16 no"></i>
            {/if}
            {$message.text|escape}
        </div>
    {/foreach}
{/if}

{if !empty($slug)}
    {$sort = 1000}{$_widgets=[]}
    {foreach $slug as $key}
        {if !empty( $apps[$key]) && !empty($apps[$key]['widgets'])}
        {foreach $apps[$key]['widgets'] as $widget_id => $widget}
        {if !isset($widget.sort)}{$sort = $sort+1}{$widget.sort=$sort}{/if}
        {$_sort=$widget.sort}

        {capture assign="_widget"}
        <li{if !empty($widget.installed)} class="i-installed"{/if} data-sort="{$_sort}">
            {$app = $apps[$key]}

            {include file="./Widgets.include.html" inline}

        </li>
            {/capture}
            {$_widgets[$_sort]=$_widget}
      {/foreach}
        {/if}
    {/foreach}
{/if}
{if !empty($_widgets)}
    <br>
    <ul class="thumbs">

        <!-- {ksort($_widgets)} -->

        {implode("",$_widgets)}

     </ul>
{else}
    <p class="align-center gray"><br>[`No widgets were found.`]</p>
{/if}
<div class="clear"></div>

<script type="text/javascript">
<!--
    $.layout.window.setTitle('{"[`Widgets`]"|cat:" — ":{$wa->accountName(false)}|escape:'javascript'}');
//-->
</script>